.dish {
  border-radius: 5px;
  border: 1px solid #b7b4b44a;
  background: #FFF;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
  padding: 16px 12px 16px 16px;
  color: #000;
  font-family: Inter, sans-serif;
  min-height: 51px;
  max-height: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.billItem {
  border-radius: 5px;
  border: 1px solid rgba(183, 180, 180, 0.29);
  background: #ECECEC;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
  padding: 9px 12px 9px 19px;
  color: #000;
  font-family: Inter, sans-serif;
  min-height: 51px;
  max-height: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.dish.checked {
  background: #E5EFEC;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
}

.priceWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.textContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 6px;
  max-width: 80%;
}

.text .button {
  font-size: 14px;
  font-weight: 300;
  text-decoration-line: underline;
  padding: 0;
  margin: 0 0 0 2px;
  background-color: transparent;
  border: none;
  outline: none;
}

.price {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.priceBlock {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.volumeBtn {
  display: flex;
  align-items: center;
  width: max-content;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  gap: 1px;
}

.icon  {
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  transition: all 0.3s;
}

.iconReverted {
  transform: rotate(180deg);
}

.volumeBtn svg {
  width: 20px;
  height: 17px;
}

.volumeBtn path {
  fill: #000000a3;
}

.volumeText, .volumeItem {
  color: #000000a3;
  font-size: 14px;
  font-weight: 500;
}

.volumesList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: max-content;
}

.rightLarge {
  height: 100%;
}

.box {
  width: 95px;
  height: 63px;
  border-radius: 5px;
  background-color: #eee;
  overflow: hidden;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.count {
  color: rgba(0, 0, 0, 0.61);
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
}

.side {
  height: 100%;
  min-height: 100%;
  display: flex;
}

.favourite {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.favouriteSelected path {
  fill: #d63d3d;
}

.description {
  max-width: 60% !important;
}

/* Allergens */

.allergensBox {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.allergens {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
}

.allergen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

/* Input */

.input {
  width: 100%;
  padding: 8px 13px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: #FFF;
  color: inherit;
  outline: none;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.2s;
}

.input:focus {
  border-color: rgba(0, 0, 0, 0.50);
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.58);
}

/* Comment */

.comment {
  width: 100%;
  font-size: 14px;
  padding: 8px 16px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

/* Extra */

.extras {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -24px;
  row-gap: 10px;
}

.extra {
  width: 50%;
  padding: 0 24px;
}

.extraContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.extraItem {
  max-width: 50%;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.extraCheckbox input {
  width: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

.extraCheckbox:has(input:checked) .extraSquare {
  background-image: url('../../assets/svg/expand_more.svg');
  background-color: #FFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 130% 130%;
}

.extraCheckbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}

.extraSquare {
  display: block;
  min-width: 15px;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  border: 1px solid #000;
  background: #FFF;
}

.showExtrasButton {
  min-width: 137px;
  height: 32px;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.29);
  background: #FFF;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0 8px 0 12px;
}