.category {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.dishes {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.button {
  z-index: 2;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #64616199;
  background: #ffffff;
  box-shadow: 0px 0px 0px 0px #00000040;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 21px;
}

.button.stiky {
  position: sticky;
  top: 84px;
}

.buttonText {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  transition: all 0.2s;
}

.iconReverted {
  transform: rotate(180deg);
}

.list {
  position: relative;
  z-index: 1;
  display: none;
  opacity: 0;
  transition: all 0.2s;
}

.listExpanded {
  display: block;
  opacity: 1;
}

.listExpanded.transform {
  transform: translateY(84px);
}