.header {
  width: 100%;
  margin-bottom: 24px;
  min-height: 83px;
  height: 83px;
  background-color: #F5F5F5;
  border-bottom: 1px solid #64616166;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
}

.headerSm {
  height: 63px;
  min-height: 63px;
  padding: 0 16px;
}

/* .container {
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
} */

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.content {
  width: 100%;
  position: sticky;
  top: 0;
}

.companyName {
  color: #010101;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 900;
  width: max-content
}

.circle {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 28px; 
  height: 28px; 
  border-radius: 50%;
  background-color: rgba(47, 194, 141, 0.50); 
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25), 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.text {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: max-content;
  max-width: 70px;
  transform: translate(-50%, 100%);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 18px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  margin-bottom: 6.5px;
}

.button:disabled {
  opacity: 0.4;
}

.backButton button {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.backButton button svg {
  height: 12px;
}

.favourite {
  width: 35px;
  height: 35px;
}

.favouriteActive path {
  fill: #d63d3d;
}